.grid-container {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
}

.maindash {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  /* overflow: visible; */
}

.rightSide {
  padding: 1rem;
}