.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
}

.AppGlass {
  display: grid;
  /* position: fixed; */
  height: 100vh;
  width: 100%;
  /* border-radius: 2rem; */
  background-color: gainsboro;
  overflow: hidden;
  grid-template-columns: 13rem 2fr;
  gap: 10px;
  padding-right: 8px;
}